.grid{
    height: 536px;
    width: 540px;
    border-width: 4px;
    border-color: black;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
    padding-top: 4px;
}
.row{  
    display: inline-flex;
    height: 54px;
}
.cell{
    height: 50px;
    width: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: darkgray;
    text-align: center;
    font-weight: 900;
    font-size: 250%;
    cursor: pointer;
    margin-top: -4px;
    font-family: sans-serif;
    display: table-cell;
    vertical-align: middle;
}
.bomb{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.hidden-block{
    width: 40px;
    height: 40px;
    border-left-color: white;
    border-top-color: white;
    border-right-color: darkgray;
    border-bottom-color: darkgray;
    border-width: 5px;
    border-style: solid;
}